<div class="navbar-container">

  <div class="navbar-logo">
    <%= link_to root_path do %>
      <%= image_tag 'logo_lb.png', class: "logo" %>
    <% end %>
  </div>

  <div class="navabar-menu">
    <div class="navbar d-flex align-items-center justify-content-between px-5">


      <div class="navbar-links d-none d-md-flex">
        <%= link_to "Home", root_path, class: "nav-item" %>
        <%= link_to "How It Works", how_it_works_path, class: "nav-item" %>
        <%= link_to "Services", services_path, class: "nav-item" %>
        <%= link_to "About us", about_path, class: "nav-item" %>
      </div>

      <div class="dropdown d-block d-md-none">
        <button class="btn dropdown-toggle no-arrow"" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-bars"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="<%= root_path %>">Home</a></li>
          <li><a class="dropdown-item" href="<%= how_it_works_path %>">How It Works</a></li>
          <li><a class="dropdown-item" href="<%= services_path %>">Services</a></li>
          <li><a class="dropdown-item" href="<%= about_path %>">About us</a></li>
        </ul>
      </div>

      <div class="nav-btn">
        <% if user_signed_in? %>
          <%= link_to destroy_user_session_path, method: :delete, data: { turbo_method: :delete } do %>
            <i class="fa-solid fa-circle-user"></i>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <i class="fa-solid fa-circle-user"></i>
          <% end %>
        <% end %>

        <a href="<%= root_path %>"><i class="fa-solid fa-cart-plus"></i></a>
      </div>

    </div>
  </div>

</div>
