
<div class="banner">
  <div class="hero">
    <div class="banner-title">
      <h1> Laundry & Dry Cleaning Made Easy!</h1>
      <button type="button" class="btn btn-primary btn-lg">Schedule a Collection</button>
    </div>
    <div class="hero-img">
    </div>

  </div>
</div>

<div class="banner">
  <div class="steps">
    <h1>Clean Laundry In 4 <em>Easy</em> Steps</h1>
    <div class="landing-steps">
      <div class="text-center image-container">
        <%= image_tag 'step-1-anim.png', alt: 'animated woman with phone' %>
        <h4 >You book & We confirm</h4>
        <p>Choose your next available time slot.</p>
      </div>
      <div class="text-center image-container">
        <%= image_tag 'step-2-anim.png', alt: 'anomated laundry basket' %>
        <h4 >Bag your Items</h4>
        <p>Gather all your laundry in a bag.</p>
      </div>
      <div class="text-center image-container">
        <%= image_tag 'step-3-anim.png', alt: 'animated delivery driver' %>
        <h4 >We collect </h4>
        <p>Laundry will be collected at your door.</p>
      </div>
      <div class="text-center image-container">
        <%= image_tag 'step-4-anim.png', alt: 'animated laundromat' %>
        <h4>You relax & We clean</h4>
        <p>Enjoy your free time while we clean and return your items.</p>
      </div>
    </div>
  </div>
</div>

<div class="thin-banner">
  <div class="benefits">
    <div class="benefit-box">
      <i class="fa-solid fa-truck"></i>
      <div class="text-content">
        <h4>Free Collection & Delivery</h4>
        <p>Flexible and time saving</p>
      </div>
    </div>
    <div class="benefit-box">
      <i class="fa-solid fa-spray-can-sparkles"></i>
      <div class="text-content">
        <h4>High Quality Cleaning</h4>
        <p>Expert care provided by professionals</p>
      </div>
    </div>
    <div class="benefit-box">
      <i class="fa-solid fa-clock"></i>
      <div class="text-content">
        <h4>24hr Turnaround</h4>
        <p>Stay in control of your time</p>
      </div>
    </div>
  </div>
</div>


<div class="explore-container">
  <%= render 'explore_services' %>
</div>

<div class="reviews">
</div>

<div class="tgt-container">
  <%= render 'tgt_customer' %>

</div>



<div class="questions">
</div>

<div class="footer-cta">
</div>
